<link rel="stylesheet" type="text/css" href="//@base_url/usr/style/css/normalize.css" media="all" />
<link rel="stylesheet" type="text/css" href="//@base_url/usr/style/css/helpers.css" media="all" />
<link rel="stylesheet" type="text/css" href="//@base_url/usr/style/css/typography.css" media="all" />
<link rel="stylesheet" type="text/css" href="//@base_url/usr/style/css/grids.css" media="all" />
<link rel="stylesheet" type="text/css" href="//@base_url/usr/style/fonts/ss-social/ss-social.css" media="all" />
<link rel="stylesheet" type="text/css" href="//@base_url/usr/style/css/custom.css" media="all" />
<link rel="stylesheet" type="text/css" href="//@base_url/usr/style/css/print.css" media="all" />
			
<!-- tell iPhone not to shrink mobile website -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;">
