<link href="<?
	 if (file_exists(Config::$content_folder.'/usr/favicon.ico')) print "@root_content/usr/favicon.ico";
else if (file_exists(Config::$content_folder.'/usr/favicon.png')) print "@root_content/usr/favicon.png";
else print "http://all.templates.promin.info/usr/favicon.ico";
?>" rel="icon" type="image/x-icon" />
<link href="<?
	 if (file_exists(Config::$content_folder.'/usr/apple-touch-icon-57.png')) print "@root_content/usr/apple-touch-icon-57.png";
	 else if (file_exists(Config::$content_folder.'/usr/thumb.png')) print "//@domain_name/render/w57/usr/thumb.png";
	 else print "http://all.templates.promin.info/usr/apple-touch-icon-57.png";
?>"  rel="apple-touch-icon" sizes="57x57"   />
<link href="<?
	 if (file_exists(Config::$content_folder.'/usr/apple-touch-icon-72.png')) print "@root_content/usr/apple-touch-icon-72.png";
	 else if (file_exists(Config::$content_folder.'/usr/thumb.png')) print "//@domain_name/render/w72/usr/thumb.png";
	 else print "http://all.templates.promin.info/usr/apple-touch-icon-72.png";
?>"  rel="apple-touch-icon" sizes="72x72"   />
<link href="<?
	 if (file_exists(Config::$content_folder.'/usr/apple-touch-icon-114.png')) print "@root_content/usr/apple-touch-icon-114.png";
	 else if (file_exists(Config::$content_folder.'/usr/thumb.png')) print "//@domain_name/render/w114/usr/thumb.png";
	 else print "http://all.templates.promin.info/usr/apple-touch-icon-114.png";
?>" rel="apple-touch-icon" sizes="114x114" />
<link href="<?
	 if (file_exists(Config::$content_folder.'/usr/apple-touch-icon-120.png')) print "@root_content/usr/apple-touch-icon-120.png";
	 else if (file_exists(Config::$content_folder.'/usr/thumb.png')) print "//@domain_name/render/w120/usr/thumb.png";
	 else print "http://all.templates.promin.info/usr/apple-touch-icon-120.png";
?>" rel="apple-touch-icon" sizes="120x120" />
<link href="<?
	 if (file_exists(Config::$content_folder.'/usr/apple-touch-icon-144.png')) print "@root_content/usr/apple-touch-icon-144.png";
	 else if (file_exists(Config::$content_folder.'/usr/thumb.png')) print "//@domain_name/render/w144/usr/thumb.png";
	 else print "http://all.templates.promin.info/usr/apple-touch-icon-144.png";
?>" rel="apple-touch-icon" sizes="144x144" />
<link href="<?
	 if (file_exists(Config::$content_folder.'/usr/apple-touch-icon-152.png')) print "@root_content/usr/apple-touch-icon-152.png";
	 else if (file_exists(Config::$content_folder.'/usr/thumb.png')) print "//@domain_name/render/w152/usr/thumb.png";
	 else print "http://all.templates.promin.info/usr/apple-touch-icon-152.png";
?>" rel="apple-touch-icon" sizes="152x152" />