<hr />
<footer>
	<div class="container grid-max-size-dl grid-to-center grid-responsive">
		<div class="row">
			<div class="col float-right float-none-down-tp social">
				if @link-tumblr do <a href="@link-tumblr" title="Tumblr" class="ss-icon ss-tumblr"><span>Tumblr</span></a>endif			
				if @link-facebook do <a href="@link-facebook" title="Facebook" class="ss-icon ss-facebook"><span>Facebook</span></a>endif
				if @link-twitter do <a href="@link-twitter" title="Twitter" class="ss-icon ss-twitter"><span>Twitter</span></a>endif
				if @link-pinterest do <a href="@link-pinterest" title="Pinterest" class="ss-icon ss-pinterest"><span>Pinterest</span></a>endif
				if @link-instagram do <a href="@link-instagram" title="Instagram" class="ss-icon ss-instagram"><span>Instagram</span></a>endif
				if @link-googleplus do <a href="@link-googleplus" title="Google+" class="ss-icon ss-googleplus"><span>Google+</span></a>endif
				if @link-vimeo do <a href="@link-vimeo" title="Vimeo" class="ss-icon ss-vimeo"><span>Vimeo</span></a>endif
				if @link-behance do <a href="@link-behance" title="Behance" class="ss-icon ss-behance"><span>Behance</span></a>endif
			</div>
			<div class="col w4 float-left float-none-down-tp copyright">
					<p>
						<span class="nobr">Copyright © if @copyright-start-year do @copyright-start-year –endif @current_year, <a href="http://@domain_name/">striptags :site-name endstriptags</a>.</span>
						<br />
						This site is&nbsp;created and&nbsp;maintained by&nbsp;bureau&nbsp;«<a href="http://www.wemake.ru/">make</a>». Powered&nbsp;by&nbsp;<a href="http://www.promin.info/">Promin</a>.
					</p>
			</div>
		</div>
	</div>
</footer>