<p class="social"><a href="http://www.facebook.com/sharer.php?u=urlencode http://@domain_name/@permalink endurlencode&t=urlencode @title endurlencode" title="Facebook" class="ss-icon ss-facebook" target="_blank"><span>Facebook</span></a>
<a href="http://twitter.com/share?url=urlencode http://@domain_name/@permalink endurlencode&text=urlencode @title endurlencode" title="Twitter" class="ss-icon ss-twitter" target="_blank"><span>Twitter</span></a>
<a href="http://www.pinterest.com/pin/create/button/?url=urlencode http://@domain_name/@permalink endurlencode&media=striptags
						if @thumb do //@domain_name/render/w750@thumb_render endif
						if !@thumb do :thumb-site endif
				endstriptags&description=urlencode @title endurlencode" title="Pinterest" class="ss-icon ss-pinterest" target="_blank"><span>Pinterest</span></a>
<a href="mailto:?Subject=urlencode @title endurlencode&body=urlencode http://@domain_name/@permalink endurlencode" title="Email" class="ss-icon ss-mail"><span>Email</span></a></p>
