<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="ru" />
		<title>:tag-title-current-and-site</title>

		:_share-meta
		:_share-facebook
		:_share-google-plus
		
		:_search-verification
		
		:_css
		:_favicons
		:_js-counter-ga
		
	</head>
	<body>
		:_header
		<div class="content">
			<div class="container grid-max-size-dl grid-responsive grid-to-center">
			    :_page
			</div>
			<div class="for-footer-shadow"><div class="container grid-max-size-dl"><div class="row shadow-down"></div></div></div>
		</div>
		:_footer
		:_js-main
		:_js-counter-ya
	</body>
</html>