<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="ru" />
		<title>:tag-title-current-and-site</title>

		:_share-meta
		:_share-facebook
		:_share-google-plus
		
		:_search-verification
		
		:_css
		:_favicons
		:_js-counter-ga
		
	</head>
	<body>
		:_header
		<div class="content" id="top">
			<div class="container grid-max-size-dl grid-responsive grid-to-center">
				<div class="level">
					:part-h1-and-summary
					<div class="row txt-to-center link-gallery"><div class="col center w1"><p><a href="#gallery" class="icon scroll view"><span>view</span></a></p></div></div>
					if $children do
						<div class="row txt-to-center">
							<div class="col w8 w7-dn w6-dl have-sub-modules grid-responsive skills-list">
							      foreach $children do
								     if @title do
								     	if @content do
									        <div class="col w1-3"><h4><em>@index</em> @title</h4> @content</div>
									    endif
								     endif
							      endforeach
							</div>
						</div>
					endif
					:part-ending
				</div>
				if $children do
				<div class="gallery gallery-bottom clearfix" id="gallery">
					<div class="row hide-down-ml link-top"><div class="col center"><a href="#top" class="icon read scroll"><span>top</span></a></div></div>
					<div class="row txt-to-center">
						<div class="col w8 have-sub-modules">
								<div class="scrollolo" data-dotted="true" data-height="max" data-arrows="true" data-responsive="true" data-looped="true" data-supportTouch="true" data-supportKeyboard="true" >
									foreach $children do
										if @thumb do
											if @title do
												<div class="item-scrollolo item height-body bg-cover responsive-bg"    
												style="background-image: url('@root_path/render/w750@thumb_render');"    
												data-src-x-small="@root_path/render/w750@thumb_render"     
												data-src-small="@root_path/render/w1000@thumb_render"     
												data-src-x-large="@root_path/render/w1500@thumb_render"     
												><div class="centered"><h4 class="header no-ruller"><em class="ruller">0@index<span> / 0@siblings_count</span></em> @title</h4></div>
												</div>
											 endif
										  endif
									endforeach
								</div>
						</div>
					</div>
				</div>
				endif
			</div>
			<div class="for-footer-shadow"><div class="container grid-max-size-dl"><div class="row shadow-down"></div></div></div>
		</div>
		:_footer
		:_js-main
		:_js-gallery
		:_js-counter-ya
	</body>
</html>