.clear, .clr { display:block; width:100%; height:1px; font-size:1px; clear:both; visibility:hidden;}

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/* IE6/7 support */
.clearfix { *zoom: 1; }


/* Helpers
***************************************************************************/

.none,
.hide { display:none;  }
.block,
.show { display:block; }

.float-left  { float:left;  }
.float-right { float:right; }
.float-none  { float:none;  }

.center,
.txt-to-center { text-align:center; }
.left,
.txt-to-left   { text-align:left;   }
.right,
.txt-to-right  { text-align:right;  }



/* backgrounds */

.bg-align-cc { background-position: center center; }
.bg-align-ct { background-position: center top;    }
.bg-align-cb { background-position: center bottom; }

.bg-align-lc { background-position: left center;   }
.bg-align-lt { background-position: left top;      }
.bg-align-lb { background-position: left bottom;   }

.bg-align-rc { background-position: left center;   }
.bg-align-rt { background-position: left top;      }
.bg-align-rb { background-position: left bottom;   }

.bg-cover    { 
				background-position: center center;
				background-size: cover!important;
				-webkit-background-size: cover!important;
				-moz-background-size: cover!important;
				/* -o-background-size: cover!important; */
				-o-background-size: 102% auto!important;
				-khtml-background-size: cover!important;
			  }
.bg-contain   {
				background-position: center center;
				background-size: contain;
		      }

.bg-fixed     { background-attachment: fixed;  }
.bg-scroll    { background-attachment: scroll; }

.bg-repeat    { background-repeat: repeat;    }
.bg-repeat-x  { background-repeat: repeat-x;  }
.bg-repeat-y  { background-repeat: repeat-y;  }
.bg-repeat-no { background-repeat: no-repeat; }

.bg-no { background: none; }