/* Typography
*******************************************************************************************************************************/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

html{ font-size:100.01%; }
html, body { margin:0; padding:0; width: 100%; height: 100%!important;}

body{ font-size:13px;
	  color:#333;
	  background: #FFF url(../bg-grid-20.gif) repeat center top;
	  line-height:20px;
	  font-family: "Helvetica Neue", Arial, Helvetica, Sans-Serif;
	  text-rendering: optimizelegibility;
	  -webkit-font-smoothing: subpixel-antialiased;
	  }


/* Курсорное выделение
*******************************************************************************************************************************/	  
::selection{ background:#78aace; color:#ffffff; }
::-moz-selection{ background:#78aace; color:#ffffff; }
img::selection{ background:transparent; }
img::-moz-selection{ background:transparent; }


/* Заголовки
*******************************************************************************************************************************/
h1, h2, h3, h4, h5, h6, ol, ul, p, blockquote, pre, code , li  {margin: 0 0 20px 0;}

h1, h2, h3, h4, h5, h6 {font-weight: bold; margin-top:40px;}

h1 { font-size:2.769em; line-height:40px; }
h2 { font-size:2.308em; line-height:40px; }
h3 { font-size:1.846em; line-height:40px; }
h4 { font-size:1.385em; }
h5 { font-size:1.154em; }
h6 { font-size:1em;     }


/* Элементы текста
*******************************************************************************************************************************/
.nobr, .nowrap, nobr { white-space : nowrap; }
.br {display:block;}

span.fx-laquo {margin-left: -0.25em; }
span.fx-brace {margin-left: -0.15em; }

code,kbd,pre,samp{ font-family:monospace, serif; white-space: pre-wrap; }
u, underline {text-decoration: underline;}

ins {text-decoration: none;}
del, strike {text-decoration: line-through;}

pre, code {}

big,
blockquote,
.big { font-size:1.385em; }

blockquote, q, 
.description{font-style: italic;}

.small, small {font-size:0.846em; }
small, big, q {margin:0; padding:0;}

abbr {font-size:0.875em; letter-spacing:0.2em; margin-right:-0.2em; text-transform: uppercase; line-height:0.5em;}
abbr[title],acronym[title],dfn[title]{border-bottom:1px dotted; cursor:help;}



html, body, input, textarea, option, select { color:#333;}
h1, h2, h3, h4, h5, h6, blockquote , .selected{color:#000;}


/* ссылки
*******************************************************************************************************************************/

a { -webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
	}

a            { color: #336699; }
a:visited    { color: #783c90; }
a:hover,
a:visited:hover,
a:active      { color: #cc0000; }

a u,
a:visited u { border-color: #783c90; }
a:hover u,
a:visited:hover u,
a:active u  { border-color: #cc0000; }

a,
a:link,
a:hover,
a:active,
a:visited,
a:visited:hover
		  { text-decoration:none;         }

a u        { line-height: 0.7em!important; }
a u        { text-decoration: none;        }
a u        { border-bottom: 1px solid;     }
a.ajax u   { border-bottom: 1px dashed;    }



/* списки
*******************************************************************************************************************************/

ul, ol, dl,
ul li, ol li
{ font-size: 1em; padding: 0;}

ul>li:before { content: '\2014\a0'; }
ul li,
ol ul li { margin-left: 1.5em; list-style-position: outside; list-style-type: none; text-indent: -1.5em; behavior: expression( !this.before && this.parentNode && this.parentNode.nodeName == 'UL' ? this.before = this.innerHTML = '&mdash;&nbsp;' + this.innerHTML : '' ); }

ol li,
ul ol li { margin-left: 1.5em; list-style-position: outside; list-style-type: decimal; text-indent: 0; }

dl dt { line-height: 1.5em; font-weight: bold; margin-bottom: 1.15em; }
dl dd { line-height: 1.5em; margin-top: -0.77em; margin-bottom: 1.15em; }

ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl { margin-top: 20px; margin-bottom: 0; }

ul ul li, ul ol li, ol ul li, ol ol li, dl ul li, dl ol li ,
ul dl dt, ul dl dd, ol dl dt, ol dl dd { font-size: 1em; }
ul p, ol p, dl p { font-size: 1em; text-indent: 0; }

/* компактный вариант, для однострочных элементов, просвет в пол-строки */
.compact li {margin-bottom:10px;}
.compact ul ul, .compact ul ol, .compact ul dl, .compact ol ul, .compact ol ol, .compact ol dl, .compact dl ul, .compact dl ol, .compact dl dl { margin-top: 10px; margin-bottom: 0; }

/* компенсатор компактного списка, если он четный */
ul.one-half-row-compencate,
ol.one-half-row-compencate {margin-bottom: 30px;}

ul.one-half-row-compencate ul, ul.one-half-row-compencate ol, ul.one-half-row-compencate dl, ol.one-half-row-compencate ul, ol.one-half-row-compencate ol, ol.one-half-row-compencate dl, dl.one-half-row-compencate ul, dl.one-half-row-compencate ol, dl.one-half-row-compencate dl { margin-top: 10px; margin-bottom: 0; }


ul.no-marker>li:before { content: ''; }
ul.no-marker li { margin-left: 0; list-style: none; text-indent: 0; behavior: expression( !this.before && this.parentNode && this.parentNode.nodeName == 'UL' ? this.before = this.innerHTML = '' + this.innerHTML : '' ); }


/* Разделители
*******************************************************************************************************************************/
hr {clear:both; display:block; width:100%; height:1px; font-size:1px;  border:0; margin: -1px 0 0 0; padding:0;}

/* Классы
*******************************************************************************************************************************/

.bg-cover-image {background: transparent cover no-repeat center center;}


/* Таблицы
*******************************************************************************************************************************/


/* Формы
*******************************************************************************************************************************/




