striptags <div class="hide">
	if @thumb do        <i></i> endif
	if @title do        <i></i> endif
	if @menu do         <i></i> endif
	if @content do      <i></i> endif
	if @1.content do    <i></i> endif
	if @2.content do    <i></i> endif
	if @3.content do    <i></i> endif
	if @summary do      <i></i> endif
	if @ending do       <i></i> endif
	if @link do         <i></i> endif
	if @nomination do   <i></i> endif
	if @award do        <i></i> endif
	if @product do      <i></i> endif
	if @product-link do <i></i> endif
	if @description do  <i></i> endif
	if @template do     <i></i> endif
</div>
endstriptags